<section class="music pg-block">
    <h2 class="block__title"><%= title  %></h2>
    <div class="admin-btn">
      <a href="/addmusic" class="waves-effect waves-light btn-large">ADD</a>
    </div>
    <ul class="music-items">
        <%= music.urlDescription%>
        <% music.forEach(function(elem) { %> 
          <li class="card col s4">
            <div class="card-image waves-effect waves-block waves-light">
              <img src=<%= elem.urlImg%> class="activator card__img">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= elem.album %><i class="material-icons right">more_vert</i></span>
              <span class="card-title activator grey-text text-darken-4"><%= elem.artist %></span>
              <p>
                <a href=<%= elem.urlWiki %>>Link Wiki</a>
            </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= elem.album %><i class="material-icons right">close</i></span>
              <p><%= elem.urlDescription %></p>
            </div>
            <div class="admin-btn">
              <button class="waves-effect waves-light btn-large">Change</button>
              <form method="post" action="/music/remove">
                <input type="hidden" name="deleteMusicId" value=<%= elem.id %>>
                <button class="waves-effect waves-light btn-large  red darken-4" type="submit">Delete</button>
              </form>
            </div>
          </li>
        <% }); %>
        
    </ul>
    
</section>